{% extends "layout.html" %}

{% block body %}
<h1>Proje Hakkında</h1>
<hr>
Herkese merhaba. Bu proje,Zonguldak Bülent Ecevit Üniversitesi Bilgi İşlem Daire Başkanlığı'nda yaptığım 1. stajım boyunca,
 kurumdaki ağabeylerimin de bilgi ve tecrübelerinden faydalanarak geliştirilmiştir. Projenin amacı Python programlama dilinin kütüphanelerinden faydalanarak
yapay zeka (nesne tanıma) ile fabrikalarda nesnelerin kontrolünü yapmaktır. Bu sayede gereksiz iş gücü ortadan kalkacak ve daha verimli çalışma koşulları elde edilecektir...
<hr>
{% endblock body %}