{% extends "layout.html" %}

{% block body %}
<h1>Proje Hakkında</h1>
<hr>
Herkese merhaba. Bu proje,Zonguldak Bülent Ecevit Üniversitesi Bilgi İşlem Daire Başkanlığı'nda yaptığım 1. stajım boyunca,
 kurumdaki ağabeylerimin de bilgi ve tecrübelerinden faydalanarak geliştirilmiştir. Projenin amacı Python programlama dilinin kütüphanelerinden faydalanarak
yapay zeka (yüz tanıma) ile okullarda devamsızlık kontrolü yapmaktır. Bu sayede Öğretmenlerin üzerine bir yük ve sorumluluk olan yoklama defterleri de tarihe karışacaktır...
<hr>
{% endblock body %}